.homepage-container {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  padding: 8px;
  overflow: hidden;

}
.screencontrol-container {
  min-width: 50px;
  height: 100%;
}
.home-main-container {
  width: calc(100% - 50px);
  height: 100%;
  border-radius: 10px;
  overflow: hidden;


}

.ColorApp{
position: absolute;
top: 0;
}

@media screen and (min-width: 1025px) {
  .home-main-container {
    width: calc(100% - 220px);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }
  .screencontrol-container {
    min-width: 220px;
  }
}
