.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.background-image {
  background-image: url("../../../assets/images/home_sm_bg.jpg");
  background-size: 100% 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: brightness(0.9);
  position: relative;
}

.home-text {
  max-width: 400px;
  padding: 5% 5%;
  padding-top: 20%;
}

.home-text h1 {
  font-size: 2rem;
}

.home-text p {
  margin: 6% 0 15%;
  font-size: 1rem;
}

.home-text button {
  max-width: 400px;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #000;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .background-image {
    background-size: 100% 100%;
    background-image: url("../../../assets/images/home_lg_bg.jpg");
  }

  .home-text {
    padding: 15% 5%;
    text-align: left;
  }

  .home-text h1 {
    width: 40rem;
    font-size: 4rem;
  }

  .home-text p {
    margin: 4% 0 15%;
    width: 35rem;
    font-size: 1.5rem;
  }

  .home-text button {
    font-size: 1rem;
    padding: 12px 34px;
  }
}
