@font-face {
  font-family: AverageSans;
  src: url(../assets/fonts/AverageSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: AverageSans;
}

::-webkit-scrollbar{
  width: 0;
}

::selection{
  width: 0;
}


:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: rgba(3, 69, 20, 0.851);
  --text-color-dark: rgba(255, 255, 255, 0.756);
}


section{
  height: 100%;
  overflow: hidden;
}
